.band{
    color: linear-gradient(180deg);
    display: block;
    margin-top: -10px;
}

.navbar{
    padding-top: 15px auto;
    display: flex;
    
}


.navbar_left{
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.icone_inicio{
    width: 25px;
    height: 25px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    color: #006fc3;
}

.point_left{
    padding: 10px;
    width: 24px;
    height: 24px;
    align-items: center;
    display: flex;
    fill: currentColor;
    justify-content: center;
    stroke: none;
    vertical-align: middle;
    color: #cdd5dc;
}

.point_right{
    padding: 10px;
    margin: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    fill: currentColor;
    justify-content: center;
    stroke: none;
    vertical-align: middle;
    color: #cdd5dc;
}

.logo_afa{
    width: 124.34px;
    height: 39.98px;
    vertical-align: middle;
}

.nome_uni{
    display: block;
    flex: 0 1 auto;
    font-size: 1.5rem;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}
.nome_uni:hover{
    color: #006fc3;
    text-decoration: underline;
}

.navbar_right{
    display: flex;
    align-items: flex-end;
}

.grid{
    display: flex;
    background: transparent;
    cursor: pointer;
    border: none;
    align-items: flex-end;
    padding-left: 250px;
    padding-bottom: 5px;
}

.grid2{
    width: 28px;
    height: 28px;
}